h1{
    font-family: "Alata", sans-serif;
    color: "DodgerBlue";
}
h2{
    font-family: "Alata", sans-serif;
    color: "DodgerBlue";
}
h3{
    font-family: "Alata", sans-serif;
    color: "DodgerBlue";
}
ul{
    font-family: "Inria Serif", sans-serif;
    color: "Gray";
}
ol{
    font-family: "Inria Serif", sans-serif;
    color: "Gray";
}

body {
    background-color:azure
}

nav {
    background-color:gainsboro
}

nav a {
    font-family: "Comfortaa", sans-serif;
    color: "Azure"
}