h1{
    font-family: "Alata", sans-serif;
    color: "DodgerBlue";
}
h2{
    font-family: "Alata", sans-serif;
    color: "DodgerBlue";
}
h3{
    font-family: "Alata", sans-serif;
    color: "DodgerBlue";
}