h1{
    font-family: "Alata", sans-serif;
    color: "DodgerBlue";
}
h2{
    font-family: "Alata", sans-serif;
    color: "DodgerBlue";
}
h3{
    font-family: "Alata", sans-serif;
    color: "DodgerBlue";
}
ul{
    font-family: "Cardo", sans-serif;
    color: "Gray";
}
ol{
    font-family: "Cardo", sans-serif;
    color: "Gray";
}